.details {
    margin-bottom: 40px;
    padding: 5px 20px;
    border-radius: 7px;
    margin-bottom: 15px;
    background-color: #0093ff;
    color: white;
}

.talk {
    padding: 5px 20px;
    border-radius: 7px;
    margin-bottom: 15px;
    background-color: #0093ff;
    color: white;
}